@import "reset.css";


/* = */

@font-face {
  font-family: "ArialBold";
  src: url("../fonts/ArialBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ArialRegular";
  src: url("../fonts/ArialRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Firstdog";
  src: url("../fonts/Firstdog.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body, html {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "ArialBold";
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #EB5A21;
}

.all {
  display: grid;
  grid-template-columns: 5% 90% 5%;
}

/* _______________ */

.menu_grid {
  display: grid;
  grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
  grid-column: 2 / 3;
  position: relative;
  margin-top: 5%;
}

.home {
  display: flex;
  font-size: 5vh;
  font-family: "ArialBold";
  text-transform: uppercase;
}

.e {
  font-family: "Firstdog";
  margin-top: 0.5vh;
}

.menu1 {
  grid-column: 4 / 5;
  margin-left: auto;
  margin-right: inherit;
}

.menu2 {
  grid-column: 5 / 6;
  margin-left: auto;
  margin-right: inherit;
}

.menu3 {
  grid-column: 6 / 7;
  margin-left: auto;
  margin-right: inherit;
}

/* _______________ */

.one {
  display: grid;
  grid-template-columns: 15% 2% 15% 2% 15% 66%;
  grid-column: 2 / 3;
  position: relative;
  margin-top: 5vh;

  width: 100%;
  height: 70vh;
}

.zagolovok {
  font-size: 4vh;
  text-transform: uppercase;
  grid-column: 1 / 5;
}

.knopka_one {
  font-size: 3vh;
  position: relative;
  text-transform: uppercase;
  grid-column: 1 / 4;
  margin-top: -10vh;
}

.knopka {
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition:         transform .3s ease-in-out;
}

.knopka:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  color: #EB5A21;
}


.onas {
  font-size: 4vh;
  position: absolute;
  text-transform: uppercase;
  grid-column: 1 / 2;
  margin-top: 52vh;
  color: white;
  z-index: 1;
}

/* _______________ */

.one_sobaka {
  display: grid;
  grid-template-columns: 100%;
  grid-column: 1 / 4;
  width: 100%;
  max-height: 0vh;
  z-index: -1;
}

.sobaka {
  grid-column: 1 / 2;
  position: relative;
  top: -75vh;
  max-width: 101%;
  margin-left: -0.5vh;
}

/* _______________ */

.two {
  display: grid;
  grid-template-columns: 11% 1.7% 11% 1.7% 11% 1.7% 11% 1.7% 11% 1.7% 11% 1.7% 11% 1.7% 11%;
  grid-column: 2 / 3;
  position: relative;

  width: 100%;
  height: 100vh;
}

.block_one {
  grid-column: 1 / 6;
}

.text_white {
  color: white;
  font-family: "ArialRegular";
  font-size: 2.2vh;
}

.one_preimushestva_svg,
.two_preimushestva_svg,
.three_preimushestva_svg,
.four_preimushestva_svg {
  position: relative;
  max-height: 100%;
  max-width: 100%;
}

.one_preimushestva_svg {
  grid-column: 1 / 4;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition:         transform .8s ease-in-out;
}

.one_preimushestva_svg:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.two_preimushestva_svg {
  grid-column: 5 / 9;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition:         transform .3s ease-in-out;
}

.two_preimushestva_svg:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.three_preimushestva_svg {
  grid-column: 9 / 12;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition:         transform .8s ease-in-out;
}

.three_preimushestva_svg:hover {
  -webkit-transform: rotate(-360deg);
  transform: rotate(-360deg);
}

.four_preimushestva_svg {
  grid-column: 12 / 16;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition:         transform .3s ease-in-out;
}

.four_preimushestva_svg:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.podpis_one,
.podpis_two,
.podpis_three,
.podpis_four {
  color: white;
  margin: auto;
  font-family: "ArialRegular";
  font-size: 3vh;
  margin-top: -15vh;
  text-align: center;
}

.podpis_one {
  grid-column: 1 / 4;
}

.podpis_two {
  grid-column: 5 / 9;
}

.podpis_three {
  grid-column: 9 / 12;
}

.podpis_four {
  grid-column: 12 / 16;
}

/* _______________ */

.three {
  display: grid;
  grid-template-columns: 15% 2% 15% 2% 15% 2% 15% 2% 15% 2% 15%;
  grid-column: 2 / 3;
  position: relative;

  width: 100%;
  /* height: 155vh; */
}

.preimushestva_zagolovok {
  grid-column: 1 / 6;
  position: relative;
  max-width: 115%;
  margin-top: -17vh;
  margin-left: -10vh;
}

.zagolovok_one {
  position: relative;
  max-height: 100%;
  max-width: 100%;
}

.block_two {
  grid-column: 3 / 6;
  margin-top: 5vh;
}

.text {
  color: black;
  font-family: "ArialRegular";
  font-size: 2.5vh;
  margin-top: 5vh;
}

.img_one {
  position: relative;
  max-height: 100%;
  max-width: 100%;
  grid-column: 7 / 10;
  margin-top: 13vh;
}

.block_three {
  grid-column: 7 / 9;
  grid-row: 3 / 4;
  margin-top: 5vh;
}

.zagolovok_two {
  position: relative;
  max-height: 100%;
  max-width: 70%;
}

.img_two {
  position: relative;
  max-height: 100%;
  max-width: 100%;
  grid-column: 3 / 8;
  grid-row: 3 / 4;
  margin-top: -3vh;
}

.block_four {
  grid-column: 3 / 6;
  grid-row: 4;
  margin-top: 5vh;
}

.zagolovok_three {
  position: relative;
  max-height: 100%;
  max-width: 50%;
}

.img_three {
  position: relative;
  max-height: 100%;
  max-width: 100%;
  grid-column: 5 / 10;
  grid-row: 4;
  margin-top: 5vh;
}

.block_five {
  grid-column: 7 / 10;
  grid-row: 5;
  margin-top: 10vh;
}

.zagolovok_five {
  position: relative;
  max-height: 100%;
  max-width: 90%;
}

.img_four {
  position: relative;
  max-height: 100%;
  max-width: 100%;
  grid-column: 3 / 6;
  grid-row: 5;
  /* margin-top: 5vh; */
}

.futer_prisoed {
  display: grid;
  grid-template-columns: 100%;
  grid-column: 1 / 4;
  position: relative;

  width: 100%;
}

.futer_prisoedinitsa {
  grid-column: 1 / 2;
  position: relative;
  top: 30vh;
  max-width: 25%;
  margin: auto;
  z-index: 1;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition:         transform .3s ease-in-out;
}

.futer_prisoedinitsa:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.futer_img {
  grid-column: 1 / 2;
  position: relative;
  top: 10vh;
  max-width: 100%;
}


.futer {
  display: grid;
  grid-template-columns: 22% 4% 22% 4% 22% 4% 22%;
  grid-column: 2 / 3;
  position: relative;

  width: 100%;

  font-family: "ArialRegular";
  font-size: 1.5vh;

  color: white;
}

.f1,
.f2,
.f3 {
  grid-column: 1 / 2;
  margin-top: 1vh;
}

.f1 {
  margin: inherit;
}

.f4,
.f5,
.f6 {
  grid-column: 3 / 4;
  margin-top: 1vh;
}

.f4 {
  margin: inherit;
}

.f4 {
  grid-row: 1;
}

.f5 {
  grid-row: 2;
}

.f6 {
  grid-row: 3;
}

.f7,
.f8,
.f9 {
  grid-column: 5 / 6;
  margin-top: 1vh;
}

.f7 {
  margin: inherit;
}

.f7 {
  grid-row: 1;
}

.f8 {
  grid-row: 2;
}

.f9 {
  grid-row: 3;
}

.f10,
.f11 {
  grid-column: 7 / 8;
}

.f10 {
  margin: inherit;
}

.f10 {
  grid-row: 1;
}

.f11 {
  grid-row: 2 / 5;
  display: flex;
}

.vk,
.fb,
.inst {
  max-width: 13%;
  max-height: 45%;
  margin-top: 1vh;
}

.fb,
.inst {
  margin-left: 2vh;
}



































/* _______________ */
